{% extends 'base.html.twig' %}

{# Redéfinition d'un block du template parent #}
{% block body %}
    {{ message }}
    <div data-controller="hello" class="text-primary">UX</div>
    <button class="btn btn-lg btn-danger">Un bouton</button>
{% endblock %}
