{% extends 'back_office/back_office_layout.html.twig' %}

{% block body %}
    {{  form_start(form) }}
    {{  form_widget(form) }}
    <button class="btn btn-primary">Modifier</button>
    {{  form_end(form) }}
{% endblock %}
